/* dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}

/* container utama */
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 90vh;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked ~ .sidebar {
    left: 0;
}

.drop-down {
    cursor: pointer;
    z-index: 1000;
}


/* sidebar yang samping */
.sidebar {
    display: none;
    left: -250px;
}

.sidebar__ul {
    gap: 30px;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.sidebar__li {
    display: block;
}

.sidebar a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;

    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;

    transition: color 0.3s;
}

.sidebar a:hover {
    color: #6A9C89;
    /* Warna hover untuk link */
}

.sidebar__li-logo img {
    width: 150px;
}

.sidebar__li-logout img {
    width: 60px;
    background-color: greenyellow;
    border-radius: 10px;
}

.icon__header-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.icon__header-mobile img{
    width: 45px;
}

/* mengatur tampilan utama bagian tengah */
.content {
    /* width: 55%; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #D5E5D5;
    border-radius: 10px
}

#mobile.headline {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
}

#mobile.headline img {
    width: 60px;
}

.headline__desc {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.headline__desc h3 {
    font-size: 3em;
}

.headline__desc h3 {
    font-size: 2em;
}

/* mengatur bagian paling atas */
.header {
    display: none;   
}

.header p {
    color: #553300;
}

.month {
    display: flex;
    justify-content: center;
    /* tulisan jadi di tengah */
    color: rgb(215, 214, 214);
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    background: #235165;
    padding: 10px;
    border-radius: 17px;
    margin-bottom: 10px;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
}

.stat-box {
    background: #eef9f0;
    padding: 10px;
    border-radius: 17px;
    text-align: center;
    flex: 1;
    /* margin: 0 20px; */
    height: 80px;

    /* agar konten ditengah */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat-box p {
    font-size: 0.9em;
}

.nominal-satu {
    color: #c60000;
}

.nominal-dua {
    color: #0d5f07;
}

.nominal-tiga {
    color: #f7a01e;
}

/* memastikan nominal tidak bold */
.nominal-satu, .nominal-dua, .nominal-tiga {
    font-weight: normal !important;
}

.stat-box, .stat-box-beda p {
    font-weight: bold;
    margin-bottom: 20px;
    margin: 0;
}

.transaction-list__today, .transaction-list__past {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.transaction-list__today h3, .transaction-list__past h3{
    align-self: flex-start;
    
    font-size: 1.5em;
    
    margin-left: 6%;
    margin-bottom: 5px;
}

.transaction-list__today img, .transaction-list__past img {
    width: 5%;
}

.plus-icon img {
    font-color: #f7a01e;
}

.transaction-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* gap: 25%; */
    padding: 10px;
    margin-bottom: 10px;
    max-width: 90%;
    
    background: white;
    border-radius: 10px;
}

.icon-tambah {
    color:#f7a01e;
}

.transaction-box p {
    font-size: 1em;
}

.icon-tambah:hover {
    color: #235165;
}

.icon-tambah:hover i:active {
    color:#f7a01e;
}

.nominal {
    display: inline-block;
    /* pastikan tetap dalam satu baris */
    text-align: right;
    white-space: nowrap;
    /* mencegah teks turun kebawah */
    color: red;
    font-weight: bold;
}

.baris-pertama {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;


    margin-top: 20px;
    margin-bottom: 48px;
    height: 75px;
}

.avatar-icon {
    width: 40px;
}

.notification-icon {
    margin-left: auto;
    width: 30px;
    display: flex;
    justify-content: flex-end;
}

.baris-pertama h3 {
    /* mengambil ruang di tengah */
    text-align: center;
    margin-left: -18px;
    font-size: 16px;
    /* transform: translateY(25%); */
    height: 18.72px;
    /* padding-top: 35px; */
}

.bx.bxs-user-circle {
    font-size: 60px;    
    /* margin-bottom: 15px; */
}

.notif {
    font-size: 23px;
}

.profile {
    display: none;
}

button {
    font-size: 15px;
    padding: 8px 30px;
    /* ukuran tombol */
    background-color: #fdf7ee;
    color: #f7a01e;
    border-radius: 25px; 
    cursor: pointer; 
    border: 2px solid #f7a01e;
    font-weight: bold;
}

/* Hover efek */
button:hover {
    background-color: #f7a01e; 
    color: #fdf7ee;
}

.mobil, .rumah, .piano {
    display: flex;
    /* elemen sejajar horizontal */
    align-items: center;
    /* ikon dan teks sejajar ditengah */
    gap: 20px; 
    /* jarak ikon dengan teks */
    background: white;
    /* latar kotak */
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Mengatur ikon */
.mobil i, .rumah i, .piano i {
    font-size: 50px; /* Ukuran ikon */
    color: #235165; /* Warna ikon */
}

/* Mengatur teks di dalam */
.teks-dalam {
    display: flex;
    flex-direction: column; /* Membuat teks dalam tersusun vertikal */
}

.teks-dalam p {
    color: #235165;
    font-weight: normal;
}

.judul {
    font-weight: bold;
}

.teks-dalam h4 {
    color: #235165;
    font-weight: 800;
}

.target-list {
    margin-top: 20px;
}

.target-item {
    width: 200px;
    background: white;
    font-weight: bold;
    color: #235165;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 180px;
}

footer {
    color: rgb(215, 214, 214);
    background-color: #235165;
    text-align: center;
    height: 10vh;
    width: 100%;
    padding: 22px;
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .content{
        margin-top: 20px;
    }

    .drop-down {
        display: none;
    }

    .icon__header-mobile {
        display: none;
    }

    .header {
        display: flex;
        /* menggunakan flexbox */
        justify-content: space-between;
        /* menyusun elemen ke ujung kiri dan kanan */
        align-items: center;
        /* menymakan tinggi elemen */
        font-size: 50px;
        color: black;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 30px;
        margin-bottom: 10px;
    }

    .sidebar {
    width: 170px;
    background-color: #D5E5D5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    }

    .sidebar img {
        width: 150px;
        margin-top: 65px;
        margin-right: 4px;
    }

    .sidebar__li-logout img {
        width: 60px;
        background-color: rgb(170, 62, 0);
        border-radius: 10px;
    }

    .container {
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: flex-start;
        height: 100vh;
    }
    
    #mobile.headline {
        display: none;
    }

    #desktop.profile {
        display: block;
        width: 30%;
        padding: 20px;
        background-color: #D5E5D5;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
}